.inner{max-width: 100%; background-color: aqua; margin: auto;}
.innerheader{max-width: 100%;  background-color: antiquewhite;margin: auto;}
header{max-width: 100%; height: 118px; background: yellowgreen;margin: auto;}
.banner{max-width: 90%;  height: 1214px; background: rgb(245, 169, 69);margin: auto;}
.content1{max-width: 90%;  height: 816px; background: wheat; margin: auto;}
.content2{max-width: 90%;  height: 1214px; background: turquoise; margin: auto;margin: auto;}
.content3{max-width: 90%;  height: 1162px; background-color: bisque; margin: auto;}
.content4{max-width: 90%; height: 1214px; background-color: rgb(202, 202, 202); margin: auto;} 
.content5{max-width: 90%;  height: 950px; background-color: bisque; margin: auto;}
.content6{max-width: 90%;  height: 216px; background-color: aliceblue; margin: auto;}
.content7{max-width: 90%; height: 1026px; background-color: bisque; margin: auto;}
.content8{max-width: 90%;  height: 1214px; background-color: aliceblue; margin: auto;}
.content9{max-width: 90%;  height: 906px; background-color: antiquewhite; margin: auto;}
.content10{max-width: 90%;  height: 216px; background-color: aliceblue; margin: auto;}
.content11{max-width: 90%;  height: 816px; background-color: antiquewhite; margin: auto;}
.content12{max-width: 90%;  height: 681px; background-color: aliceblue; margin: auto;}
.content13{max-width: 90%;  height: 400px; background-color: antiquewhite; margin: auto;}
.content17{max-width: 90%;  height: 36px; background-color: aliceblue; margin: auto;}
.content14{max-width: 90%;  height: 714px; background-color: aliceblue; margin: auto;}
.content15{max-width: 90%;  height: 854px; background-color: antiquewhite; margin: auto;}
.inner2{max-width:100%; height: 192px; background: blue; margin: auto;}
.content16{max-width: 880px; height: 192px;background-color: blanchedalmond; margin: auto;}
.innerfooter{max-width: 100%; background-color: aquamarine; margin: auto;}
footer{max-width: 90%; height:443px; background-color: burlywood; margin: auto;}