/* all */
@charset "utf-8";

h2 { font-weight: bold; font-size: 16px; line-height: 1.5; }

/* pc */



/* banner */
.banner { max-width: calc(100% - 80px); margin: auto; width:100%;}
.banner img{width:100%;}
.banner_text { text-align: center; max-width: 100%; background: #ffffff; text-decoration: none; }


.buy1 { max-width: 107px; text-align: center; font-size: 16px; padding: 6px 20px; border-radius: 30px; border: 1.5px solid transparent; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; background: #111; color: #fffafa; margin: auto;}

/* content */
.content1 { max-width: calc(100% - 80px); margin: auto; }

.c1_text { text-align: center; }

.content2 { max-width: calc(100% - 80px); margin: auto; }

.c2_text { text-align: center; }

.myVideo { max-width: 100%; height: auto; position: relative; left: calc(100% - 70%); }

.c3_text { text-align: center; }

.c4_text { text-align: center; }

.content5 { max-width: calc(100% - 80px); margin: auto; }

.c5_text { text-align: center; }

.content6 { max-width: calc(100% - 80px); margin: auto; }

.c6_text { text-align: center; }

.Trend { display: flex; width: 90%; padding: 10px; }

.featured { max-width: calc(100% - 80px); display: flex; margin-right: 30px;}

.cloth { display: flex; margin: auto; justify-content: center; }

.community { max-width: calc(100% - 120px); text-align: left; display: flex; margin: auto; justify-content: center; }

footer { background: #111; }

.footer_inner { max-width: 1440px; margin: auto; }

.fff { color: #fff; }

.gray { color: #7e7e7e; }

.community h3 { font-size: 35px; font-weight: 400; }

.h2 { font-size: 15px; color: #fff; font-size: 12px; position: relative; top: 15px; }

.middle { position: relative; left: 200px; bottom: 60px; font-size: 12px; }

.right { position: relative; left: 400px; bottom: 200px; font-size: 12px; }

.SNS { max-width: 80px; position: relative; left: calc(100% - 100px); bottom: 300px; display: flex; }

.location { color: #ffffff; position: relative; bottom: 10px; font-size: 10px; }

.bx-viewport { display: block; margin: auto; }

.h2 { font-size: 16px; }

/* reset */

ul,
li,
ol,
dt,
dd,
dl { list-style: none; }

img { border: 0; vertical-align: top; }

html { overflow-y: scroll; font-size: 62.5%; }

/*공통 */
.inner { max-width: 80rem; margin: 0 auto; }

/* 상단메뉴바 */



.radius1 { max-width: 160px; padding: 6px 20px; border-radius: 30px; border: 1.5px solid transparent; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; background: #111; color: #fff; text-align: center;}