/* all */

h2 {
	font-weight: bold;
	font-size: 16px;
	line-height: 1.5;
}

/* pc */
main {
	padding: 0 2rem;
}
main img {
	width: 100%;
}
/* banner */
.banner {
	max-width: calc(100% - 80px);
	margin: auto;
	width: 100%;
}
.banner img {
	width: 100%;
}
main > [class*='_text'] a,
.banner_text a {
	display: flex;
	flex-direction: column;
	text-align: center;
	text-decoration: none;
	padding: 4rem 0;
	line-height: 1.2;
}
main > [class*='_text'] h2,
.banner_text h2 {
	font-weight: 900;
	font-size: 1.6rem;
}
main > [class*='_text'] h1,
.banner_text h1 {
	font-weight: 900;
	font-size: 7rem;
	letter-spacing: -4px;
	margin-bottom: 2rem;
}
main > [class~='_text'] p,
.banner_text p {
	font-weight: 700;
	font-size: 2rem;
}
.buy1,
.button {
	text-align: center;
	margin-bottom: 4rem;
}
.buy1 a,
.button a {
	display: inline-block;
	padding: 1.5rem 4rem;
	background-color: black;
	color: white;
	font-size: 1.8rem;
	font-weight: 900;
	border-radius: 4rem;
}

/* content */
main > [class^='content'] {
	margin-top: 12rem;
}

.content1 {
	max-width: calc(100% - 80px);
}

.c1_text {
	text-align: center;
}

.content2 {
	max-width: calc(100% - 80px);
	margin: auto;
}

.c2_text {
	text-align: center;
}

.video_frame {
	margin: 12rem auto 0;
	width: calc(100vw - 80px);
	height: 800px;
	overflow: hidden;
}
.video_frame video {
	width: 100%;
}
main > .c_text h1 {
	font-size: 2rem;
	letter-spacing: 0px;
	margin-top: 12rem;
}
.c3_text {
	text-align: center;
}

.c4_text {
	text-align: center;
}

.content5 {
	max-width: calc(100% - 80px);
	margin: auto;
}

.c5_text {
	text-align: center;
}

.content6 {
	max-width: calc(100% - 80px);
	margin: auto;
}

.c6_text {
	text-align: center;
}

.Trend {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.featured {
	max-width: calc(100% - 80px);
	display: flex;
	margin-right: 30px;
}

.cloth {
	display: flex;
	justify-content: space-between;
}

.community {
	max-width: calc(100% - 120px);
	text-align: left;
	display: flex;
	margin: auto;
	align-items: center;
	justify-content: center;
}

footer {
	background: #111;
	margin-top: 12rem;
}

.footer_inner {
  padding:1rem;
	max-width: 1440px;
	margin: auto;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-around;
}
.footer_inner .flex{
  display:flex;
  justify-content: space-between;
}
.fff {
	color: #fff;
}

.gray {
	color: #7e7e7e;
}

.community h3 {
	font-size: 35px;
	font-weight: 400;
}


.location {
	color: #ffffff;
	font-size: 10px;
}
.bx-wrapper {
	position: relative;
}
.bx-prev,
.bx-next,
.bx-pager {
	position: absolute;
	font-size: 2rem;
}
.bx-prev {
	left: 5%;
	top: 50%;
}
.bx-next {
	right: 5%;
	top: 50%;
}
.bx-pager {
	display: flex;
	left: 50%;
	gap: 1rem;
	transform: translateX(-50%);
}
.bx-pager a {
	font-size: 2rem;
}
.bx-viewport {
	display: block;
	margin: auto;
}

/* 상단메뉴바 */

.radius1 {
	max-width: 160px;
	padding: 6px 20px;
	border-radius: 30px;
	border: 1.5px solid transparent;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: #111;
	color: #fff;
	margin: auto;
	text-align: center;
}
