@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* reset */
*{margin: 0; padding: 0; box-sizing: border-box;}
ul,li,ol,dt,dd,dl{list-style: none;}
a{text-decoration: none; color: black; font-size: 1.6rem;}
a:link,a:visited{color: black;}
img{border: 0; vertical-align: top;}
html{overflow-y: scroll; font-size: 62.5%;}
body{font-family: 'Black Han Sans', sans-serif;
     font-family: 'Noto Sans KR', sans-serif;
     font-size: 1.6rem; line-height: 1.75;} 

/*공통 */
.inner{max-width: 140rem; margin: 0 auto;}

/* 상단메뉴바 */
nav{position: relative; width: 100%; height: 9.4rem; background-color: #fff;}
nav>.gnb{display: flex;}
nav>.gnb>li{margin:0 3.8rem;}
nav>.gnb>li.logo{width: 18rem; margin:0 0 0 2.5rem;}
nav>.gnb>li.logo a{display: block; background: url(./img/freesamLogo.jpg) no-repeat center center/18rem; text-indent: -999999999px; overflow: hidden; font-size: 0px;} 
nav>.gnb>li>a{display: block; line-height: 9.4rem; font-size: 1.2rem; font-weight: bold;}
nav>.gnb>li>a:hover{color: red;}

nav>.gnb>li .menu_title img{width: 135px;}

/* 투뎁스레이아웃 */
.gnb .dep1 ul{display: flex;}
.gnb .dep1 li{flex: 0 1 20rem; margin: 0; border-left: 1px solid #e9e9e9; padding-left: 2rem;}
.gnb .dep1 li h2{font-size: 1.5em; font-weight: bold; text-align: center; color: #e95a65; padding-top: 0.2rem;}
.gnb .dep1 li dl dt a{font-size: 1em; font-weight: bold; line-height: 1.8;}
.gnb .dep1 li h3 a{color: #097a84; font-weight: bold; line-height: 2; margin-bottom: 0.3rem;}
.gnb .dep1 li dd a{color: #777; font-size: 0.8rem; font-weight: 700; line-height: 1.7;}
/* 투뎁스배경 */
nav .gnb_bg{position: absolute; background:#fbfbff; top: 9.4rem; left: 0; width: 100%; padding: 0 0; transition: all 0.5s; height: 0; overflow: hidden; z-index: 9;}

/* hover */
.gnb .dep1:hover .gnb_bg {padding:2rem 0; height:auto;}
.gnb .dep1:hover .gnb_bg:before{padding: 2rem 0;}

/* main */
main .main_banner{height: 100vh; background: url(https://images.unsplash.com/photo-1692890846581-da1a95435f34?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0fHx8ZW58MHx8fHx8&auto=format&fit=crop&w=500&q=60) no-repeat; background-size: cover; position: relative;}
.main_banner ul{gap: 1rem; display: flex; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);}

/* flex:flex-grow | flex-shrink | flex-basis */
.main_banner li{padding:0 60px ; position: relative; flex:1 1 30%; height: 200px; background: rgb(255, 255, 255,.5); color: #1023cc60; text-align: center; font-size: 4em; line-height: 200px; transition: margin 0.5s; gap: 1rem;}
.main_banner li:hover{margin-top:-10px;}
.main_banner li:after{content:' '; position: absolute; left: -7; top: 0; opacity: 0; transition: all 0.5s;}
.main_banner li:hover:after{opacity: 1;}
.main_banner li::before{content: ''; width: 0%; position: absolute; height: 10px; background: #097a84; bottom: 0%; left: 50%; transform:translateX(-50%); transition: width 0.5s ;}

.main_banner li:hover:before{width: 100%;}
